#signup {
  margin-right:-30px;
  margin-top: 10px;
}
#refine {
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.267);
  padding: 10px;
}
#authenticate {
  margin-right: -30px;
}
body{
  background-color: rgba(0, 0, 0, 0.644) !important;
}
.jumbotron{
	background-image: url('./images/jumbo.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: aliceblue;
} 
#return{
  margin: 20px;
}
.card{
  background-image: url('./images/muddy.jpg') !important;
  background-size: cover;
  color: beige;
}
.brand-logo {
  left: 0% !important;
  transform: translateX(0%) !important;
}
#search {
  color: rgb(219, 218, 218);
}
#recommend {
  margin-top: -40px;
  transform: translateX(0%) !important;
}
#searchBar {
  margin-left:-20px;
  margin-top:-5px;
}
#h1{
  font-size: 48px;
}
#brand{
  background: transparent !important;
  margin-top:-70px;
  color: aliceblue !important;
}
#logo {
  margin-top: 15px;

}
