#signup {
  margin-top:-50px;
}
#refine {
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.267);
  padding: 10px;
}
#authenticate {
  margin-right: -30px;
}
body{
  background-color: rgba(0, 0, 0, 0.644) !important;
}
.jumbotron{
	background-image: url('./images/jumbo.jpg') !important;
	background-size: cover;
} 
#return{
  margin: 20px;
}
.card{
  background-image: url('./images/muddy.jpg') !important;
  background-size: cover;
  color: beige;
}
.brand-logo {
  left: 0% !important;
  transform: translateX(0%) !important;
}
#recommend{
  margin-top: -30px !important;
}